bibtexparser
black
certifi
charset-normalizer
contourpy
cycler
flake8
fonttools
fpdf
idna
kiwisolver
langdetect
matplotlib
numpy
packaging
pandas
Pillow
pre-commit
pydantic
pydantic-settings
pyparsing
pytest
pytest-cov
pytest-html
python-dateutil
pytz
requests
seaborn
six
tzdata
urllib3